*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================== HEADER =============================== */

header{
    background-color: white;
    position: sticky;
    top: 0;
}
.logo{
    width: 20%;
    background-color: white;
}
.logo img{
    height: 60px;
}
.nav{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    float: right;
}
.nav a{
    padding-right: 20px;
}
.nav span{
    padding-right: 8px;
    color: white;
}

.header{
    background-color: white;
    width: 80%;
    display: flex;
    margin: auto;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .menu-bar{
    width: 230px;
  }
  .menu-bar li{
    border: 1px solid darkgray;
    padding: 3px;
  }

  .hem-burger{
    display: none;
  }
  .hem-burger .fa-bars{
    font-size: 30px;
    color: rgb(0, 173, 0);
  }

/* =========================== MAIN 1 =============================== */

.main1{
    /* height: 700px; */
    width: 100%;
    background-color: white;
}
.main1-title{
    /* height: 100px; */
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main1-heading{
    font-size: 30px;
    color: peru;
    font-weight: bolder;
}
.main1-body{
    /* height: 610px; */
    width: 80%;
    background-color: rgb(252, 237, 226);
    margin: auto;
    border: 1px solid darkgray;
}
.main1-photo{
    width: 500px;
}
.main1-txt{
    width: 500px;
}
.main1-photo img{
    height: 600px;
}
.chairman{
    font-size: 25px;
    font-weight: bold;
    color: mediumseagreen;
}
.chairman-post{
    color: rgb(103, 101, 101);
}

/* =========================== MAIN 2 =============================== */

.main2{
    /* height: 700px; */
    width: 100%;
    background-color: rgb(246, 244, 244);
}
.main2-title{
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2-heading{
    font-size: 30px;
    color: peru;
    font-weight: bolder;
}
.main2-graph{
    /* height: 400px; */
    width: 80%;
    margin: auto;
}
.round{
    height: 130px;
    width: 130px;
    border: 15px solid darkgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.round:hover{
    border-color: green;
}
.graph1{
    display: flex;
    align-items: center;
}
.main2-graph1{
    width: 100%;
    /* height: 200px; */
}
.main2-graph2{
    width: 100%;
    /* height: 200px; */
}
.round img{
    width: 80%;
}
.box1{
    background-color: rgb(246, 244, 244);
    position: absolute;
    margin-left: 100px;
}

.main2-body{
    width: 80%;
    margin: auto;
}
.main2-body p{
    font-size: 17px;
}

/* =========================== MAIN 3 =============================== */

#main3{
    /* height: 500px; */
    width: 100%;
    background-color: white;
}
.main3-tltle{
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main3-heading{
    font-size: 30px;
    color: peru;
    font-weight: bolder;
}
.main3-body{
    /* height: 400px; */
    width: 80%;
    margin: auto;
    background-color: white;
}
.main3-body p{
    font-size: 17px;
}
.main3-body span{
    font-weight: 700;
    color: rgb(112, 112, 112);
}
.main3-body-heading{
    text-decoration: underline;
}

/* =========================== MAIN 4 =============================== */

#main4{
    width: 100%;
    /* height: 500px; */
    background-color: white;
}
.main4-title{
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main4-heading{
    font-size: 30px;
    color: peru;
    font-weight: bolder;
}
.main4-body{
    /* height: 400px; */
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 15px 5px;
    font-size: 19px;
}
.main4-body img{
    width: 100%;
}
.main4-txt1{
        font-weight: bold;
        font-size: 20px;
}
.main4-body-sub{
    width: 500px;
    background-color: rgb(246, 244, 244);
    /* border: 2px solid black; */
}
.main4-body-sub:hover{
    transform: scale(1.004);
    box-shadow: 5px 5px 15px darkgray;
}
#photoreadmore{
    padding: 10px;
    border-radius: 0%;
    background-color: rgb(249, 142, 65);
    color: white;
    border: none;
    position: absolute;
    width: 150px;
    display: none;
}
.photoread{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main4-body-sub img:hover{
    opacity: .500;
}

/* =========================== MAIN 5 =============================== */

.main5{
    /* height: 500px; */
    width: 100%;
    background-color: rgb(246, 244, 244);
}
.main5-title{
    /* height: 100px; */
    padding: 20px 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 244, 244);
}
.main5-heading{
    font-size: 30px;
    color: peru;
    font-weight: bolder;
}
.main5-body{
    width: 80%;
    margin: auto;
    background-color: rgb(246, 244, 244);
    font-size: 19px;
}
.main5-txt{
    width: 600px;
}
.main5-photo img{
    width: 400px;
}
#readmorebtn{
    padding: 10px;
    border-radius: 0%;
    background-color: mediumseagreen;
    color: white;
    border: none;
}
#readmorebtn:hover{
    background-color: rgb(1, 71, 1);
    box-shadow: 2px 15px 15px darkgray;
    transform: scale(1.1);
}

 /* ================================FOOTER===================================  */

/* ================================FOOTER=================================== */

.footer{
    /* height: 400px; */
    width: 100%;
    background-color: rgb(210, 168, 138);
}

.footer-sub{
    width: 80%;
    margin: auto;
    /* height: 300px; */
}
.footer-headingtxt{
    color: rgb(159, 115, 4);
}
.footer-input{
    width: 100%;
}
#submitbtn{
    background-color: rgb(159, 115, 4);
    border-radius: 0;
    color: white;
}
.footer-opacity{
    height:80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkkhaki;
    opacity: .200;
}


.who h6{
    border-bottom: 1px solid rgb(0, 173, 0);;
    padding: 10px 10px;
    color: blue;
}
.who ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.who ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 5px 7px;
}

.icon{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    position: fixed;
    margin-top: 100px;
}

@media only screen and (max-width: 768px){
    .icon{
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .nav .dropdown{
        display: none;
    }
    .logo img{
        height: 30px;
    }
    .hem-burger{
        display: block;
      }
}

@media only screen and (max-width: 800px){
    .main1-photo img{
        width: 100%;
    }
    .main4-body-sub{
        margin-top: 15px;
    }
    .main4-body{
        margin-top: 15px;
    }
    .main5-photo img{
        width: 100%;
    }
}