*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================== HEADER =============================== */

header{
    background-color: white;
    /* position: sticky; */
    /* top: 0; */
}
.logo{
    width: 20%;
    background-color: white;
}
.logo img{
    height: 60px;
}
.nav{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    float: right;
}
.nav a{
    padding-right: 20px;
}
.nav span{
    padding-right: 8px;
    color: white;
}

.header{
    background-color: white;
    width: 80%;
    display: flex;
    margin: auto;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .menu-bar{
    width: 230px;
  }
  .menu-bar li{
    border: 1px solid darkgray;
    padding: 3px;
  }

  .hem-burger{
    display: none;
  }
  .hem-burger .fa-bars{
    font-size: 30px;
    color: rgb(0, 173, 0);
  }

/* =========================== MAIN ONE =============================== */

#caption{
    color: chocolate;
    font-size: 18px;
}

.txt1{
    background-color: black;
    opacity: .600;
    font-size: 20px;
    margin-bottom: -40px;
    width: 100%;
    height: 60px;
}
.txt2{
    background-color: black;
    opacity: .600;
    font-size: 20px;
    margin-bottom: -40px;
    width: 100%;
    height: 60px;
    padding-top: 30px;
    
}

/* =========================== MAIN TWO =============================== */

.main2{
    /* height: 330px; */
    padding-top: 20px;
    /* background-color: blueviolet; */
}
.who{
    font-size: 30px;
    text-align: center;
    color: mediumseagreen;
}

.main2box{
    border: 2px solid darkgray;
    height: 280px;
    text-align: center;
}

.main2box:hover{
    background-color: chocolate;
    color: white;
    transition: 0.9s;
}

/* =========================== MAIN THREE =============================== */

.main3{
    background-color: whitesmoke;
}
.main3 img{
    height: 300px;
    width: 99%;
}
.main3-location{
    color: darkgray;
}
.main3-headingtxt{
    font-size: 25px;
    color: mediumseagreen;
}
.title{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: peru;
}
.slide2{
    width: 80%;
    margin: auto;
}

/* ==============================main3one================================= */

.main3one{
    height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color: whitesmoke;
}
.main3one-first{
    height: inherit;
    width: 50%;
}
.main3one-first1{
    height: 50%;
    width: 100%;
    /* background-color: darkmagenta; */
}

.main3one-first2{
    padding: 10px 10px;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
    /* background-color: crimson; */
}
.main3one-second{
    height: inherit;
    width: 50%;
}
.main3one-second1{
    height: 50%;
    width: 100%;
    /* background-color: darkolivegreen; */
}
.main3one-second2{
    height: 50%;
    width: 100%;
    padding: 10px 10px;
    /* background-color: dodgerblue; */
}
.main3two{
    height: 200px;
    width: 80%;
    margin: auto;
    background-color: chartreuse;
}
.main3three{
    height: 200px;
    width: 80%;
    margin: auto;
    background-color: darkolivegreen;
}

/* ==============================main3two================================= */

.main3two{
    height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color: whitesmoke;
}

/* ==============================main3three================================= */

.main3three{
    height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color:  whitesmoke;
}

/* ==============================main3four================================= */

.main3four{
    height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color:  whitesmoke;
}

/* ==============================main3five================================= */

.main3five{
    height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color:  whitesmoke;
}

/* ==============================main3six================================= */

.main3six{
    height: 600px;
    width: 80%;
    margin: auto;
    display: flex;
    background-color: whitesmoke;
}



/* ==========================main3footer========================= */

.main3footer{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
}
.readmore{
    width: 100%;
    display: flex;
    align-items: center;
}
#readmorebtn{
    padding: 10px;
    border-radius: 0%;
    background-color: mediumseagreen;
    color: white;
    border: none;
}
#readmorebtn:hover{
    background-color: rgb(1, 71, 1);
    box-shadow: 2px 15px 15px darkgray;
    transform: scale(1.1);
}
#left-right-btn{
    background-color: rgb(92, 90, 90);
}

/* =========================== MAIN FOUR =============================== */

.main4title{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: peru;
}
.main4sub{
    width: 80%;
    margin: auto;
    background-color: white;
    /* height: 500px; */
    display: flex;
}
.main4subphoto{
    height: inherit;
    width: 30%;
    /* background-color: blueviolet; */
}
#main4photos{
    height: 400px;
    width: 100%;
    display: none;
}
.main4subtxt{
    height: inherit;
    width: 70%;
    background-color: chocolate;
}
#a-one{
    color: rgb(15, 100, 15);
    text-align: start;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main4 button{
    margin-left: 20px;
}
.collapseshow{
    padding: 20px;
}

/* =========================== MAIN FIVE =============================== */

.main5{
    /* height: 600px; */
    width: 100%;
    background-color: blanchedalmond;
}
.main5one{
    /* height: 300px; */
    width: 80%;
    margin: auto;
    display: flex;
    padding: 20px 0px;
}
.main5one1{
    height: 300px;
    width: 400px;
}
.main5one2{
    height: 300px;
    width: 600px;
    padding: 25px 20px;
}
.heading1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: peru;
}
.heading2{
    font-size: 25px;
    color: mediumseagreen;
}
.main5two{
    /* height: 300px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 15px 15px;
    padding: 20px 0px;
}
.main5two-sub{
    /* height: 200px; */
    width: 80%;
    background-color: white;
    border: 2px solid peru;
    padding: 25px 25px;
}
.main5-div{
    box-sizing: border-box;
    text-align: center;
}
.main5two-box{
    height: 35px;
    width: 300px;
    background-color: peru;
    color: white;
    position: absolute;
    margin-top: 180px;
    text-align: center;
    font-size: 18px;
}

/* =========================== MAIN SIX =============================== */

.main6{
    /* height: 600px; */
    width: 100%;
    background-color: lightgrey;
}
.main6title{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: peru;
    font-weight: 900;
}
.main6button{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main6-video, .main6-photo{
    background-color: lightgreen;
    padding: 5px;
    margin: 4px 4px;
}
.main6-box{
    background-color: whitesmoke;
    border: 2px solid darkgrey;
}
.main6-sub{
    width: 80%;
    margin: auto;
    /* height: 300px; */
    background-color: lightgrey;
}
.main6-subtop img{
    height: 130px;
}
.main6txt1{
    font-size: 15px;
    font-weight: bold;
}

.main6-viewall{
    height: 80px;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
}


/* ================================FOOTER=================================== */

.footer{
    /* height: 400px; */
    width: 100%;
    background-color: rgb(210, 168, 138);
}

.footer-sub{
    width: 80%;
    margin: auto;
    /* height: 300px; */
}
.footer-headingtxt{
    color: rgb(159, 115, 4);
}
.footer-input{
    width: 100%;
}
#submitbtn{
    background-color: rgb(159, 115, 4);
    border-radius: 0;
    color: white;
}
.footer-opacity{
    height:80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkkhaki;
    opacity: .200;
}

.who h6{
    border-bottom: 1px solid rgb(0, 173, 0);;
    padding: 10px 10px;
    color: blue;
}
.who ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.who ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 5px 7px;
}







 /* =========================================== MEDIA QUERY MAIN THREE ================================ */



.main-three-3{
    display: none;
    width: 90%;
    margin: auto;
}
.main-three1{
    margin-top: 10px;
}
.main-three2{
    margin-top: 10px;
    margin-bottom: 20px;
}




@media only screen and (max-width: 650px) {
    .nav .dropdown{
        display: none;
    }
    .logo img{
        height: 30px;
    }
    .hem-burger{
        display: block;
      }
    .main4subphoto{
        display: none;
    }
    .main4subtxt{
        width: 100%;
    }
    
}

.icon{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    position: fixed;
    margin-top: 100px;
}

@media only screen and (max-width: 768px){
    .icon{
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .main2box{
        border: 2px solid darkgray;
        height: 280px;
        text-align: center;
        margin-top: 15px;
    }
    .main-three-3{
        display: block;
    }
    .main3{
        display: none;
    }
    .main6-box{
        margin-top: 10px;
    } 
    .main5two-box{
        position: static;
        margin-top: 0px;
    }

    .footer-sub{
        width: 100%;
    }
}