* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* ================================  header  =================================== */

header {
   width: 100%;
   display: flex;
   background-color: white;
}

.logo {
   /* width: 20%; */
   padding: 20px 20px;
}

nav {
   width: 100%;
   display: flex;
   align-items: center;
}

.nav-sub {
   background-color: red;
   width: 100%;
   display: flex;
   padding-left: 200px;
}

.nav-sub ul {
   display: flex;
}

.nav-sub ul li {
   list-style: none;
   padding: 10px 20px;
}

.nav-sub ul li a {
   text-decoration: none;
   color: white;
   font-size: 25px;

}

.icon {
   display: flex;
   align-items: center;
   justify-content: end;
   width: 100%;
   font-size: 30px;
   padding-right: 20px;
}

.icon i {
   padding-right: 20px;
}


/* ================================== Main One =================================== */

.main1 img {
   width: 100%;
}


/* ================================== Main Two =================================== */

.main2{
   padding: 20px 20px;
   width: 100%;
   background-color: white;
}
.main2-sub{
   padding: 70px 5px;
   width: 90%;
   margin: auto;
   background-color: red;
   text-align: center;
}
.about-us{
   font-size: 60px;
   color: white;
   font-weight: bold;
}
.lorem-1{
   margin-top: 20px;
   color: white;
   font-weight: 400;
   font-size: 30px;
}

/* ================================== Main Three =================================== */

.main3{
   width: 100%;
   display: flex;

}
.main3-one{
   width: 40%;
   height: 450px;
   background-color: white;
   padding: 20px 90px;
   position: relative;
}

.photo3{
   position: absolute;
}
.chef{
   position: absolute;
   background-color: red;
   color: white;
   font-size: 20px;
   width: 300px;
   padding: 5px 5px;
   text-align: center;
   margin-top: 350px;
   margin-left: 50px;
}

.main3-two{
   width: 60%;
   height: 450px;
   background-color: white;
}

.main3-two h1{
   color: red;
   font-size: 40px;
   margin-top: 100px;
}

.lorem-2{
   font-size: 28px;
   padding: 10px 10px;
}

/*  ================================== Main Four ===================================  */

.main4{
   width: 100%;
   position: relative;
}
.main4 img{
   width: 100%;
}
.menu{
   position: absolute;
   color: white;
   font-weight: bold;
   font-size: 130px;
   margin: 200px 700px;
}

/*  ================================== Main Five ===================================  */

.main5{
   width: 100%;
}
.main5-sub1{
   width: 80%;
   margin: auto;
}
.main5-sub1 img{
   width: 100%;
}
.main5-sub2{
   width: 80%;
   margin: auto;
   background-color: white;
   display: flex;
}
.main5-sub2-one{
   width: 50%;
   text-align: start;
}
.main5-sub2-two{
   width: 50%;
   text-align: end;
}
.txt1{
   color: red;
   font-size: 40px;
   margin-top: 25px;
}
.lorem-3{
   font-size: 22px;
   margin-top: 15px;
}


/*  ================================== Main Five ===================================  */

.main6{
   width: 100%;
}

/*  ================================== Main Seven ===================================  */

.main7{
   width: 100%;
   background-color: red;
   padding: 30px 0px;
}
.main7 h1{
   color: white;
   font-weight: 900;
   font-size: 60px;
   text-align: center;
}
.main7 p {
   text-align: center;
}
.main7 p i{
   font-size: 30px;
   padding: 50px 20px;
}
.contact{
   color: white;
   font-size: 30px;
}





@media only screen and (max-width: 480px) {
   .logo img{
      height: 60px;
   }
   .nav-sub {
      width: 100%;
      padding-left: 30px;
   }
   .nav-sub ul li{
      padding: 5px 5px;
   }
   .nav-sub ul li a {
      text-decoration: none;
      color: white;
      font-size: 10px;
   
   }
   .icon i {
      padding-right: 10px;
   }
   .icon {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      font-size: 10px;
   }
   .main2-sub{
      padding: 30px 5px;
      width: 90%;
      margin: auto;
      background-color: brown;
      text-align: center;
   }
   .about-us{
      font-size: 30px;
      color: white;
      font-weight: bold;
   }
   .lorem-1{
      margin-top: 20px;
      color: white;
      font-weight: 400;
      font-size: 15px;
   }

   .main3{
      flex-wrap: wrap;
   }

   .main3-one{
      width: 100%;
      height: 400px;
      background-color: brown;
      padding: 20px 0px;
      position: relative;
      display: flex;
      justify-content: center;
   }
   .menu{
      position: absolute;
      color: white;
      font-weight: bold;
      font-size: 60px;
      margin: 70px 230px;
   }
   .photo3{
      height: 350px;
   }
   .chef{
      position: absolute;
      background-color: red;
      color: white;
      font-size: 15px;
      width: 200px;
      padding: 5px 5px;
      text-align: center;
      margin-top: 300px;
      margin-left: 20px;
   }

   .main3-two{
      width: 100%;
      height: 200px;
      background-color: aqua;
   }
   .main3-two h1{
      color: red;
      font-size: 30px;
      margin-left: 30px;
      margin-top: 50px;
   }
   .lorem-2{
      font-size: 15px;
      padding: 10px 30px;
   }
   .main5{
      width: 100%;
   }
   .main5-sub1{
      width: 80%;
      margin: auto;
   }
   .main5-sub1 img{
      width: 100%;
   }
   .main5-sub2{
      width: 80%;
      margin: auto;
      background-color: aqua;
      display: flex;
   }
   .main5-sub2-one{
      width: 50%;
      text-align: start;
   }
   .main5-sub2-two{
      width: 50%;
      text-align: end;
   }
   .txt1{
      color: red;
      font-size: 30px;
      margin-top: 25px;
   }
   .lorem-3{
      font-size: 15px;
      margin-top: 15px;
   }
   .main7{
      width: 100%;
      background-color: red;
      padding: 20px 0px;
   }
   .main7 h1{
      color: white;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
   }
   .main7 p {
      text-align: center;
   }
   .main7 p i{
      font-size: 15px;
      padding: 30px 10px;
   }
   .contact{
      color: white;
      font-size: 15px;
   }
}

/* @media only screen and (max-width: 768px){
   .nav-sub {
      padding-left: 70px;
   }
   .nav-sub ul li {
      list-style: none;
      padding: 5px 10px;
   }
   
   .nav-sub ul li a {
      text-decoration: none;
      color: white;
      font-size: 15px;
   
   }
   
   .icon {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
      font-size: 15px;
      padding-right: 0px;
   }
   
   .icon i {
      padding-right: 10px;
   }
   .main3{
      flex-wrap: wrap;
   }
   .photo3{
      height: 350px;
   }

   .main3-one{
      width: 100%;
      height: 400px;
      background-color: brown;
      padding: 20px 0px;
      position: relative;
      display: flex;
      justify-content: center;
   }
   .chef{
      position: absolute;
      background-color: red;
      color: white;
      font-size: 15px;
      width: 200px;
      padding: 5px 5px;
      text-align: center;
      margin-top: 300px;
      margin-left: 15px;
   }
   .main3-two{
      width: 100%;
      height: 400px;
      background-color: aqua;
   }
   .menu{
      position: absolute;
      color: white;
      font-weight: bold;
      font-size: 50px;
      margin: 110px 350px;
   }
} */


