*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================== HEADER =============================== */

header{
    background-color: white;
    position: sticky;
    top: 0;
}
.logo{
    width: 20%;
    background-color: white;
}
.logo img{
    height: 60px;
}
.nav{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    float: right;
}
.nav a{
    padding-right: 20px;
}
.nav span{
    padding-right: 8px;
    color: white;
}

.header{
    background-color: white;
    width: 80%;
    display: flex;
    margin: auto;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .menu-bar{
    width: 230px;
  }
  .menu-bar li{
    border: 1px solid darkgray;
    padding: 3px;
  }

  .hem-burger{
    display: none;
  }
  .hem-burger .fa-bars{
    font-size: 30px;
  }

/*================================================== MAIN 1 =========================================== */

.main1{
    /* height: 600px; */
    width: 100%;
    background-color: white;
}

.main-title{
    height: 100px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-heading{
    font-size: 30px;
    color: peru;
    font-weight: bold;
}
.main-photo img{
    width: 100%;
}
.main-photo{
    width: 80%;
    margin: auto;
}
.main-body{
    width: 80%;
    margin: auto;
    font-size: 18px;
}
.main-title2{
    height: 50px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-heading2{
    font-size: 17px;
    font-weight: 500;
}
span{
    font-size: 13px;
}

.who h6{
    border-bottom: 1px solid rgb(0, 173, 0);;
    padding: 10px 10px;
    color: blue;
}
.who ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.who ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 5px 7px;
}


#myCarousel {
    margin-top: 50px;
}

.icon{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    position: fixed;
    margin-top: 100px;
}

@media only screen and (max-width: 768px){
    .icon{
        display: none;
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}
.slide-1 h5{
    text-align: center;
}
.slide-1{
    background-color: rgb(179, 200, 200);
    padding: 10px 10px;
}
.main-slide{
    background-color: white;
    margin: 2px 2px;
}
.main-slide p{
    font-size: 14px;
    text-align: center;
}
.view{
    color: mediumseagreen;
}
.left-side{
    background-color: rgb(121, 121, 121);
}
.right-side{
    background-color: rgb(121, 121, 121);
}

.download-kit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
}
.toolkit{
    background-color: mediumseagreen;
    color: white;
    padding: 5px 5px;
}

/* =========================== MAIN FIVE =============================== */

.main5{
    /* height: 600px; */
    width: 100%;
    background-color: blanchedalmond;
}
.main5one{
    /* height: 300px; */
    width: 80%;
    margin: auto;
    display: flex;
    padding: 20px 0px;
}
.main5one1{
    height: 300px;
    width: 400px;
}
.main5one2{
    height: 300px;
    width: 600px;
    padding: 25px 20px;
}
.heading1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: peru;
}
.heading2{
    font-size: 25px;
    color: mediumseagreen;
}


/* ================================FOOTER=================================== */

.footer{
    /* height: 400px; */
    width: 100%;
    background-color: rgb(210, 168, 138);
}

.footer-sub{
    width: 80%;
    margin: auto;
    /* height: 300px; */
}
.footer-headingtxt{
    color: rgb(159, 115, 4);
}
.footer-input{
    width: 100%;
}
#submitbtn{
    background-color: rgb(159, 115, 4);
    border-radius: 0;
    color: white;
}
.footer-opacity{
    height:80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkkhaki;
    opacity: .200;
}

.who h6{
    border-bottom: 1px solid rgb(0, 173, 0);;
    padding: 10px 10px;
    color: blue;
}
.who ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.who ul li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: 5px 7px;
}






@media only screen and (max-width: 650px) {
    .nav .dropdown{
        display: none;
    }
    .logo img{
        height: 30px;
    }
    .hem-burger{
        display: block;
      }
}
@media only screen and (max-width: 768px){
    .main5one2{
        height: 400px;
    }
}
